<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><%= rows[0].idx %></P>
    <p><%= rows[0].creator_id %></P>
    <p><%= rows[0].title %></P>
    <p><%= rows[0].content %></P>
    <p><%= rows[0].regdate %></P>
  </body>
</html>
